
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    font-family: 'Roboto';
}

.cabecalho{
 background-image: url("imagens/fundo-header.jpg");
 background-repeat: no-repeat;
 background-position-x:center;
 background-position-y: center;
 width: 1200px;

 margin-top:0px;
 margin-right:auto;
 margin-bottom:0px;
 margin-left:auto;
 text-align:center;
 padding-top: 20px;
 padding-bottom: 22px;

}
.logo{
    width: 170px;
    height: 170px;
    /*solid,dotted dashed double*/
    border: 5px dotted rgb(219, 204, 204);
    background-color: rgb(219, 204, 204);
    padding: 10px;
    border-radius: 100px;
}

.nome-loja{
    margin:0;
    font-size: 60px;
    color: #030303;
    line-height: 60%;
    font-family:'Cookie';
    font-weight: 100;
 
}
.texto-pequeno{
    font-size: 28px;
}
.menu{
    
}